@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*BASE AKA 0PX*/
/*Colors
midnight-blue: #1F2A44;
olive-green: #76885B;
champagne-gold: #E5C185;
linen: #F8F4EC;
dark-charcoal: #2B2B2B;
soft-white: #FAF9F6;

Font
Playfair Display
*/

/*MAIN BODY STYLE*/


body{
    font-family: "Playfiar Display";
    background-color: #F8F4EC;
    color: #2b2b2b;
    line-height: 1.6;
}


h1{
    color:#1F2A44;
    font-family: "Playfair Display";
}

h2{
    color:#1F2A44;
    font-family: "Playfair Display";
}

h3{
    color:#1F2A44;
    font-family: "Playfair Display";
}

hr{
    color:#E5C185;
    text-align: center;
    margin: 65px;
}
/*
p{
    font-family: "Playfair Display";
}

section {
    padding: 48px 24px;
} */


/*HEADER*/

header{
    background-color: #1F2A44;
    padding: 60px 20px;
    text-align: center;
}

header img{
    max-width: 600px;
    margin: 0 auto 20px;
}

header h1 {
    color: #FAF9F6;
    font-size: 42px;
    margin-bottom: 10px;
}
.headtag{
    color: #FAF9F6;
    font-size: 16px;
}


.mheader{
    background-color: #E5C185;
    padding: 16px 0px;
}

.mheader ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    max-width: 900px;
    margin: 0px auto;
    padding: 0px;
    font-weight: 600;
    color: #1F2A44;
}





/*SECTIONS OF COTENT*/

.welcome-contents, .offers-contents, .gallery-contents {
    max-width: 1100px;
    margin: 0px auto;
    padding: 30px 20px;
}

.welcome-contents h2, .offers-contents h2, .gallery-contents h2 {
    font-size: 35px;
    margin-bottom: 14px;
}

.welcome-contents p, .offers-contents p, .gallery-contents p {
    margin-bottom: 8px;
        font-family: "Playfair Display";

}
/*nav {
    background-color: #e5c58a;
    padding: 16px 0px;
    justify-content: center;
}
/*
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
} */

/*nav a{
    color: #1F2A44;
    font-weight: 600;
}
*/

/*OUR OFFERSS*/
.ouroffersboxes{
    display: grid;
    gap: 24px;
    margin-top: 25px;
}

.greenslide1, .greenslide2, .thirdbox{
    background-color: #76885b;
    color: #FAF9F6;
   padding: 24px; 
    border-radius: 12px;

}

.greenslide1 h3, .greenslide2 h3, .thirdbox h3{
    color: #FAF9F6;
    margin-bottom: 10px;
}

/*.thirdbox{
    column-span: 2;
} */

.thirdbox ul {
    margin: 10px 0px;
    padding-left: 18px;
}


/*A GALLERY OF FIELD AND FEAST*/

.imagecollection {
   display: grid;
    gap: 24px;
    margin-top: 30px;
    list-style: none;
    grid-template-columns: 1fr; 
   /* padding: 0;
    max-width: 1100px;
    margin: 30px auto; */
}

.imagecollection li {
    background-color: #FAF9F6;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 5px 12px rgba(0,0,0,.15);
}

.imagecollection img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.imagecollection p{
    padding: 14px;
    font-size: 14px;
}

.fullgal{
    background-color: #76885b;
    color: #FAF9F6;
    text-align: center;
    padding: 14px;
    margin-top: 25px;
    border-radius: 6px;
    font-weight: 600;
}


/*FOOTER*/

footer{
    background-color: #1F2A44;
    color: #FAF9F6;
    text-align: center;
    padding: 50px 20px;
}

footer p{
    margin: 6px 0px;
}

.email {
    color: #E5C185;
}

.socials {
    margin-top: 12px;
    color: #E5C185;
}

/*RESPONSIVE SIZES*/

@media(min-width:768px) {
    header h1{
        font-size: 50px;
    }

    .imagecollection{
        grid-template-columns: repeat(2, 1fr);
    }
    
}


@media (min-width:992px) {
    .ouroffersboxes{
        grid-template-columns: repeat(2 1fr);
    }

    .thirdbox {
        grid-column: span 2;
    }

    .imagecollection{
        grid-template-columns: repeat(3, 1fr);
    }
    
}



@media (min-width:1200px) {
    .imagecollection{
        grid-template-columns: repeat(5, 1fr);
    }
    
}













/*1400 PX*/
/*@media (min-width: 1400px) {
    body{
        margin: 35px;
    }


    h1{
        font-size: 90px;
    }

    h2{
        font-size: 40px;
    }

    p {
        font-size: 35px;
    }

    #hlogo {
        height: 500px;
    }

    /*NAV (STRIGHT DOWN)*/

  /*  nav.mheader{
        font-size: 35px;
    }

    nav.mheader li{
        margin: 0px 100px;
    }

    /*OUR OFFERS*/
  /*  .ouroffersboxes {
        grid-template-columns: 600px 600px;
        justify-content: center;
    }


    /*GALLERY OF FIELD AND FEAST*/
   /* #gallerylist ul{
        grid-template-columns: repeat(5, 1fr);
    }
    
}




/*IGNORE BELOW*/
/*body{
    font-family: Playfair Display;
    margin: 15px;
  /*  white-space-collapse: */
/*}
h1{
    color: #FAF9F6;
}

h2{
    color: #1F2A44;
}
*/
/*
hr{
    color:#E5C185;
    text-align: center;
    margin: 65px;
}

/*IGNORE BELOW*/

/*@media screen and (min-width:1400px) {
   body {
    overflow-x: hidden; 
    margin: 35px;}



section {
    display: block;
  /*  margin: 35px */
/*}
h1{
    font-size: 90px;
    color: #FAF9F6;
}

h2{
    font-size: 40px;
    color: #1F2A44;
   }    

   p{
    font-size: 25px;
}
    /*HEADER*/
/*#hlogo {
   /* position: absolute; 
   transform: translate(50%); */
/*   height: 500px;
/*}

header{
    background-color: #1F2A44;
    text-align: center;
    display: flexbox; 
}

header h3{
    font-size: 25px;
    margin-top: -45px;
    color: #FAF9F6;
}


/*NAV*/
/*nav.mheader{
    background-color: #E5C185;
    color: #1F2A44;
    font-size: 35px;

}
nav.mheader ol{
    margin: 5px;
    padding: 5px;
    display:inline-flex;
    flex-direction:row; 
}

nav.mheader li {
    list-style-type:none;
   display: inline; 
    margin-left: 100px;
    margin-right: 100px;
    padding: 15px ;
    text-align: center;
    white-space:nowrap
   /* display: flexbox;
    flex-direction: row; */
/*}


/*WELCOME*/

/*#Welcome{
   padding: 35px;
    margin: 5px; 
}
#Welcome p {
    display: inline-block;
    text-wrap:wrap;
    padding: 5px;
}

#Welcome h2 {
    font-weight: lighter;
}


hr{
    color:#E5C185;
    text-align: center;
    margin: 65px;
}

/*OUR OFFERINGS*/

/*#offerings{
    margin: 35px;
}
#offhead{
    font-weight: lighter;
}


.ouroffersboxes {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-gap:15px;

}

.greenslide1 {
    width:fit-content;
    box-sizing: border-box;
    border-radius: 30px;
    border: solid #76885B 5px;
    background-color: #76885B;
    color: #FAF9F6;
    padding: 15px;
   /* padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px; */
/*   margin: 5px;
}

.greenslide1 h2{
    color:#FAF9F6;
    text-align: left;
    white-space: nowrap;
}

.greenslide2 {
    width:fit-content;
     box-sizing: border-box;
    border-radius: 30px;
    border: solid #76885B 5px;
    background-color: #76885B;
    color: #FAF9F6;
    padding: 15px;
   /* padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;*/
  /*  margin: 5px;    
}

.greenslide2 h2 {
    color:#FAF9F6;
    text-align:left;
    white-space: nowrap;
}

.thridbox {
    display: grid;
    width:auto;
    box-sizing: border-box;
    border-radius: 30px;
    border: solid #76885B 5px;
    background-color: #76885B;
    color: #FAF9F6;
    padding: 15px;
  /*  padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px; */
   /* margin: 5px;
}

.thridbox h2 {
    color:#FAF9F6;
    font: 30px;
    text-align:left;
    white-space: nowrap;
}

/*GALLERY OF FIELD AND FEAST*/

/*#gallery {
    padding-left: 65px;
    padding-right: 95px;
    padding-bottom: -50px;
    padding-top: -50px;
  /*  margin: 15px; */
/*}

#gallery h2 {
    font-weight: lighter;
    padding-top: -10px;
}

.imagecollection{
   margin: -10px;
   padding: 15px;
}

#gallerylist{
    margin: 25px;
}

#gallerylist ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding-bottom: 50px;
}

#gallerylist li {
   list-style-type: none;
    display:flexbox; 
    border-radius: 50px; 
 
}

#gallerylist img {
    border-radius: 10px;
    grid-template-columns: 45px;
    width: 215px;
    height: 200px
} 

.hierloom{
    position: absolute;
    transform:translateX(-10px) translatey(195px);
    background-color: #FAF9F6;
    box-sizing: border-box;
   border-bottom-right-radius:15px ;
   border-bottom-left-radius:15px ;
    padding-bottom: 35px;
    padding-top: 30px;
    margin-left: 50px;
    width: 216px;
    }


.oliveoil{
    position: absolute;
    transform:translateX(213px) translateY(195px);
    background-color: #FAF9F6;
    box-sizing: border-box;
   border-bottom-right-radius:15px ;
   border-bottom-left-radius:15px ;
    padding-bottom: 35px;
    padding-top: 30px;
    margin-left: 50px;
    width: 216px;
}

.tables{
    position: absolute;
    transform:translateX(436px) translateY(195px);
    background-color: #FAF9F6;
    box-sizing: border-box;
   border-bottom-right-radius:15px ;
   border-bottom-left-radius:15px ;
    padding-bottom: 35px;
    padding-top: 30px;
    margin-left: 50px;
    width: 216px;
}


.plate{
    position: absolute;
    transform:translateX(659px) translateY(195px); 
    background-color: #FAF9F6;
    box-sizing: border-box;
   border-bottom-right-radius:15px ;
   border-bottom-left-radius:15px ;
    padding-bottom: 35px;
    padding-top: 30px;
    margin-left: 50px;
    width: 216px;
}


.basket{
    position: absolute;
    transform:translateX(881px) translateY(195px);
    background-color: #FAF9F6;
    box-sizing: border-box;
   border-bottom-right-radius:15px ;
   border-bottom-left-radius:15px ;
    padding-bottom: 35px;
    padding-top: 30px;
    margin-left: 50px;
    width: 216px;
}

/*FOOTER*/
/*#fullgal{
    color: #FAF9F6;
    background-color: #76885B;
    text-align: center;
    transform: translateX(55px);
    padding: 5px;
    margin: 30px;
}
#fullgal p{
    font-size: 25px;
}

footer {
    background-color: #1F2A44;
    text-align: center;
    margin: 15px;
    padding: 35px;
}

address {
    color: #FAF9F6;
}

#emails {
    color: #E5C185;
}
#white{
    color: #FAF9F6;
}
.socials{
    color: #E5C185;
}

#insta{
    transform: translateX(-60px);
}

#faceb{
    transform: translateX(65px) translateY(-55px);
}

} */
  


