@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*BASE AKA 0PX*/
/*Colors
midnight-blue: #1F2A44;
olive-green: #76885B;
champagne-gold: #E5C185;
linen: #F8F4EC;
dark-charcoal: #2B2B2B;
soft-white: #FAF9F6;

Font
Playfair Display
*/
body {
    font-family: playfair Display;
    overflow-x: hidden;
    margin:20px;
    color: #1F2A4A;

}

section {
    display: block;
}

h1 {
    font-size: 40px;
    color: #FAF9F6;
}

h2 {
    font-size: 24px;
    color: #1F2A4A;

}

p{
    font-size: 16px;
}




/*HEADER*/

header{
    background-color: #1F2A4A;
    text-align: center;
    padding: 20px;
}

#hlogo {
    height: 250px;
}

header h3{
    font-size: 18px;
    margin-top: -20px;
    color: #FAF9F6;
}

/*NAV*/

nav.mheader {
    background-color:#E5C185 ;
    font-size: 22px;
    color:#1F2A4A;
    text-align: center;
    padding: 10px;
}

nav.mheader ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

nav.mheader li {
    margin: 10px 0px;
    padding: 10px;
}




/*WELCOME*/
#Welcome{
    padding: 20px;
    margin: 10px;
}

#Welcome P{
    padding: 5px;
}

hr {
    color: #E5C185;
    margin: 40px;
}

/*OFFERINGS*/
#offerings{
    margin:20px
}

















/*IGNORE BELOW*/
/*body{
    font-family: Playfair Display;
    margin: 15px;
  /*  white-space-collapse: */
/*}
h1{
    color: #FAF9F6;
}

h2{
    color: #1F2A44;
}
*/
/*
hr{
    color:#E5C185;
    text-align: center;
    margin: 65px;
}

/*IGNORE BELOW*/

/*@media screen and (min-width:1400px) {
   body {
    overflow-x: hidden; 
    margin: 35px;}



section {
    display: block;
  /*  margin: 35px */
/*}
h1{
    font-size: 90px;
    color: #FAF9F6;
}

h2{
    font-size: 40px;
    color: #1F2A44;
   }    

   p{
    font-size: 25px;
}
    /*HEADER*/
/*#hlogo {
   /* position: absolute; 
   transform: translate(50%); */
   height: 500px;
/*}

header{
    background-color: #1F2A44;
    text-align: center;
    display: flexbox; 
}

header h3{
    font-size: 25px;
    margin-top: -45px;
    color: #FAF9F6;
}


/*NAV*/
/*nav.mheader{
    background-color: #E5C185;
    color: #1F2A44;
    font-size: 35px;

}
nav.mheader ol{
    margin: 5px;
    padding: 5px;
    display:inline-flex;
    flex-direction:row; 
}

nav.mheader li {
    list-style-type:none;
   display: inline; 
    margin-left: 100px;
    margin-right: 100px;
    padding: 15px ;
    text-align: center;
    white-space:nowrap
   /* display: flexbox;
    flex-direction: row; */
/*}


/*WELCOME*/

/*#Welcome{
   padding: 35px;
    margin: 5px; 
}
#Welcome p {
    display: inline-block;
    text-wrap:wrap;
    padding: 5px;
}

#Welcome h2 {
    font-weight: lighter;
}


hr{
    color:#E5C185;
    text-align: center;
    margin: 65px;
}

/*OUR OFFERINGS*/

/*#offerings{
    margin: 35px;
}
#offhead{
    font-weight: lighter;
}


.ouroffersboxes {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-gap:15px;

}

.greenslide1 {
    width:fit-content;
    box-sizing: border-box;
    border-radius: 30px;
    border: solid #76885B 5px;
    background-color: #76885B;
    color: #FAF9F6;
    padding: 15px;
   /* padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px; */
/*   margin: 5px;
}

.greenslide1 h2{
    color:#FAF9F6;
    text-align: left;
    white-space: nowrap;
}

.greenslide2 {
    width:fit-content;
     box-sizing: border-box;
    border-radius: 30px;
    border: solid #76885B 5px;
    background-color: #76885B;
    color: #FAF9F6;
    padding: 15px;
   /* padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;*/
  /*  margin: 5px;    
}

.greenslide2 h2 {
    color:#FAF9F6;
    text-align:left;
    white-space: nowrap;
}

.thridbox {
    display: grid;
    width:auto;
    box-sizing: border-box;
    border-radius: 30px;
    border: solid #76885B 5px;
    background-color: #76885B;
    color: #FAF9F6;
    padding: 15px;
  /*  padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px; */
   /* margin: 5px;
}

.thridbox h2 {
    color:#FAF9F6;
    font: 30px;
    text-align:left;
    white-space: nowrap;
}

/*GALLERY OF FIELD AND FEAST*/

/*#gallery {
    padding-left: 65px;
    padding-right: 95px;
    padding-bottom: -50px;
    padding-top: -50px;
  /*  margin: 15px; */
/*}

#gallery h2 {
    font-weight: lighter;
    padding-top: -10px;
}

.imagecollection{
   margin: -10px;
   padding: 15px;
}

#gallerylist{
    margin: 25px;
}

#gallerylist ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding-bottom: 50px;
}

#gallerylist li {
   list-style-type: none;
    display:flexbox; 
    border-radius: 50px; 
 
}

#gallerylist img {
    border-radius: 10px;
    grid-template-columns: 45px;
    width: 215px;
    height: 200px
} 

.hierloom{
    position: absolute;
    transform:translateX(-10px) translatey(195px);
    background-color: #FAF9F6;
    box-sizing: border-box;
   border-bottom-right-radius:15px ;
   border-bottom-left-radius:15px ;
    padding-bottom: 35px;
    padding-top: 30px;
    margin-left: 50px;
    width: 216px;
    }


.oliveoil{
    position: absolute;
    transform:translateX(213px) translateY(195px);
    background-color: #FAF9F6;
    box-sizing: border-box;
   border-bottom-right-radius:15px ;
   border-bottom-left-radius:15px ;
    padding-bottom: 35px;
    padding-top: 30px;
    margin-left: 50px;
    width: 216px;
}

.tables{
    position: absolute;
    transform:translateX(436px) translateY(195px);
    background-color: #FAF9F6;
    box-sizing: border-box;
   border-bottom-right-radius:15px ;
   border-bottom-left-radius:15px ;
    padding-bottom: 35px;
    padding-top: 30px;
    margin-left: 50px;
    width: 216px;
}


.plate{
    position: absolute;
    transform:translateX(659px) translateY(195px); 
    background-color: #FAF9F6;
    box-sizing: border-box;
   border-bottom-right-radius:15px ;
   border-bottom-left-radius:15px ;
    padding-bottom: 35px;
    padding-top: 30px;
    margin-left: 50px;
    width: 216px;
}


.basket{
    position: absolute;
    transform:translateX(881px) translateY(195px);
    background-color: #FAF9F6;
    box-sizing: border-box;
   border-bottom-right-radius:15px ;
   border-bottom-left-radius:15px ;
    padding-bottom: 35px;
    padding-top: 30px;
    margin-left: 50px;
    width: 216px;
}

/*FOOTER*/
/*#fullgal{
    color: #FAF9F6;
    background-color: #76885B;
    text-align: center;
    transform: translateX(55px);
    padding: 5px;
    margin: 30px;
}
#fullgal p{
    font-size: 25px;
}

footer {
    background-color: #1F2A44;
    text-align: center;
    margin: 15px;
    padding: 35px;
}

address {
    color: #FAF9F6;
}

#emails {
    color: #E5C185;
}
#white{
    color: #FAF9F6;
}
.socials{
    color: #E5C185;
}

#insta{
    transform: translateX(-60px);
}

#faceb{
    transform: translateX(65px) translateY(-55px);
}

} */
  


